<div id="<%= dom_id entity %>">
 <div class= 'category-container'>
    <div><strong><%= @group_id.name %>:</strong> </div>
    <div> <%= entity.name %> </div>
    <div>$ <%= entity.amount %></div>
  </div>
</div>
