<div>
      <%= link_to  :back do %>
        <%= image_tag "icons8-back-72.png", style: 'height:10px; width:auto;' %>
      <% end  %>
    </div>
  <h4 class="text-gray-4 ">Entities</h4> 
  <div> </div>
  
