<div class = "splash-title">
        <h1 class="text-gray-2">Family Budget</h1>
      </div>
      <div class="splash-btn">
        <%= link_to "Log in", new_user_session_path, class:'btn btn-primary btn-lg mx-2' %>
        <%= link_to "Sign up", new_user_registration_path, class:'btn btn-primary btn-lg mx-2' %>
     </div>
  