<div class = "splash-title">
        <h1 class="text-gray-2">Family Budget</h1>
      </div>
      <div class="splash-btn">
      <div class='btn-login'>
        <%= link_to "Log in", new_user_session_path, class:'link-login' %>
        </div>
        <div class='btn-signup'>
        <%= link_to "Sign up", new_user_registration_path, class:'link-signup' %>
        </div>
     </div>
  